# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.YeetTheKid.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\YeetTheKid\.idea\.idea.YeetTheKid\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
